@model GiderTakipApp.Models.Category

@{
    ViewData["Title"] = "Create";
}



<h1>Kategori</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                        <div class='e-btn-group'>
                <div class='e-btn-group custom-rbt-group '>
                <input type="radio" id="radioleft" name="Type" value="Gider" checked="@(Model.Type=="Gider")" />
                <label class="e-btn" for="radioleft">Gider</label>
                <input type="radio" id="radiomiddle" name="Type" value="Gelir" checked="@(Model.Type=="Gelir")"/>
                <label class="e-btn" for="radiomiddle">Gelir</label>

</div>
</div>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="title" placeholder="Başlık" ejs-for="@Model.Title" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <ejs-textbox id="icon" placeholder="Simge" ejs-for="@Model.Icon" floatLabelType="Always"></ejs-textbox>
                <span asp-validation-for="Icon" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
